@font-face {
  font-family: metropolis;
  src: url(../font/metropolis/Metropolis-Regular.otf);
}
html {
    font-family: metropolis;
}

.navbar {
    box-shadow: 0px 6px 40px rgba(173, 173, 173, 0.25);
  }

.navbar-brand{
    font-family: metropolis;
    font-weight: 700;
    color: #DB3022;
    vertical-align: middle;
}

.navbar-brand img {
    width: 31;
    height: 44;
}

.form-inline input {
    border: 1px solid #8E8E93;
    border-radius: 20px;
    width: 507;

}

.form-inline button {
    margin-left: -50px;
    background-color: transparent;
}

.collapse > button {
    height: 15;
    width: 16;
    background: #FFFFFF;
    border: 1px solid #8E8E93;
    border-radius: 12px;
}

.button-group  button{
    margin-left: 10px;
}

.button-group .btn {
    background-color: white;
}

.login {
    background: #DB3022;
    border-radius: 25px;
    width: 100px;
    height: 36px;
    color: white;
    border: none;
}

.register {
    width: 100px;
    height: 36px;
    color: #9B9B9B;
    background-color: #FFFFFF;
    border-radius: 25px;
    border: 1px solid #9B9B9B;
}

.slide {
    display: flex;
}

.slide-item {
    width: 455px;
    height: 303px;
    margin-left: 30px;
}

.slide-item img {
    border-radius: 8px;
    height: 180px;
}

.slide-item h3 {
    margin-top: -100px;
    text-align: center;
    color: white;
}

.ctg-item {
    width: 206px;
    height: 220px;
}

.ctg-1 {
    background-color: #CC0B04;
}



